# Ignore binary files
*.bin

# Ignore model checkpoints
models/
data/
# **/results/

# Ignore cached files
__pycache__/
*.cache
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
**/*db*/
**/db/
**/checkpoint/
**/lightning_logs/


# Ignore logs and other temporary files
logs/
*.log
*.log.*
*.tmp
*.gguf

